<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plane.name %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @plane.rows %>
</p>

<p>
  <strong>Columns:</strong>
  <%= @plane.columns %>
</p>



<%= link_to 'Back', planes_path %>

<% if @current_user.present? && @current_user.admin? %>
<div class="controls">
<%= link_to 'Edit', edit_plane_path(@plane) %> |
</div>
<% end %>
