<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :flight_id %>
    <%= form.number_field :flight_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :reserved %>
    <%= form.check_box :reserved %>
  </div>

  <div class="field">
    <%= form.label :seat %>
    <%= form.text_field :seat %>
  </div>

<div class="plane">

  <div class="cockpit">
    <h1>Please select a seat</h1>
  </div>

  <div class="exit exit--front fuselage">
  </div>

  <ol class="cabin fuselage">
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" id="1A" />
          <label for="1A">1A</label>
        </li>

        
  </ol>

  <div class="exit exit--back fuselage">
  </div>

</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
